<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://www.beadmagazine.co.uk/binder.jpg" class="img-responsive" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id labore laboriosam natus quo sint ut. Accusantium dolore, doloribus et eum excepturi laborum nihil optio pariatur quo quod rem vero voluptates.</p>
                <div class="clearfix">
                    <div class="price pull-left">£20</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>
